/* bai-jamjuree-regular - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2'),
        url('../fonts/bai-jamjuree-v11-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UbuntuCondensed-Regular.woff2') format('woff2'),
        url('../fonts/UbuntuCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

